/**
    *   BASE FOR ALL DEVICE
    */
* {
    font-family: "PT Mono", monospace;
    color: bisque;
}
/**
    *   BASE FOR MENU
    */
.logo {
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: 1.78em;
}
